<div class="container d-flex justify-content-center">
  <div class="row">
    <div class="hero col-12 mt-5">
      <h1>Приветствую тебя, любитель винила</h1>
      <h3>Создайте аккаунт</h3>
    </div>
  </div>
</div>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6 col-lg-4">
      <form [formGroup]="authForm">
        <div class="mb-3">
          <label class="form-label">Почта</label>
          <input type="email" formControlName="email" class="form-control" id="email" />
          <div class="alert alert-danger my-2" *ngIf="authForm.controls['email'].invalid && authForm.controls['email'].touched">Неверный формат почты.
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label">Логин</label>
          <input type="text" formControlName="login" class="form-control" />
          <div class="alert alert-danger my-2"
            *ngIf="authForm.controls['login'].invalid && authForm.controls['login'].touched">
            <b>Введите логин, это обязательно.</b> <br>
            Логин должен быть длиной от 3 до 15 символов, содержать только буквы латинского алфавита (верхнего и нижнего
            регистра), цифры или символ подчеркивания (_),
            не начинаться с цифры и не содержать пробелов.
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label">Пароль</label>
          <input type="password" formControlName="password" class="form-control" />
          <div class="alert alert-danger my-2"
            *ngIf="authForm.controls['password'].invalid && authForm.controls['password'].touched">
            <b>Введите пароль, это обязательно.</b> <br>
            Пароль должен быть длиной не менее 8 и не более 20 символов,
            содержать как минимум одну букву верхнего регистра,
            содержать как минимум одну букву нижнего регистра,
            содержать как минимум одну цифру,
            содержать как минимум один специальный символ (&#64;, #, $, %, ^, &, *) и
            не содержать пробелов.
          </div>
        </div>

        <button type="button" [disabled]="!authForm.valid" (click)="registration()"
          class="mb-4 btn btn-custom btn-block w-100">Создать</button>

        <div class="row mb-4 d-flex justify-content-center">
          <div *ngIf="isError" class="alert alert-danger mb-2">
            Неверное имя пользователя или почта
          </div>
          <div class="col-12 text-center">
            <a [routerLink]="['/login']">Уже есть аккаунт?</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>