<div class="container py-5 record-page" *ngIf="record">

    <div class="row g-4">
        <!-- Левая колонка - обложка и метаданные -->
        <div class="col-lg-4">
            <!-- Карусель обложек -->
            <div class="custom-card p-0">
                <div class="carousel-inner">
                    <div class="carousel-inner">
                        <div class="carousel-item" *ngFor="let cover of recordCovers; let i = index"
                            [class.active]="i === activeCoverIndex">
                            <img [src]="cover.image" class="d-block w-100" alt="обложка">
                        </div>
                    </div>
                    <button class="carousel-control-prev" (click)="prevCover()">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" (click)="nextCover()">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>


            <!-- Информация о пластинке -->
            <div class="custom-card mt-4 p-3">
                <h4 class="mb-3">Информация</h4>

                <div class="meta-item">
                    <span class="meta-label">Год: </span>
                    <span class="meta-value">{{recordYear}}</span>
                </div>

                <div class="meta-item" *ngIf="recordPublisher">
                    <span class="meta-label">Лейбл: </span>
                    <span class="meta-value">{{recordPublisher}}</span>
                </div>

                <div class="meta-item" *ngIf="recordBarcode">
                    <span class="meta-label">Штрихкод: </span>
                    <span class="meta-value">{{recordBarcode}}</span>
                </div>

                <div class="meta-item" *ngIf="recordPerformers.length">
                    <span class="meta-label">Исполнители: </span>
                    <span class="meta-value">
                        <span *ngFor="let performer of recordPerformers" class="badge bg-secondary me-1">
                            <a href="/performer/{{ performer.id }}"
                                style="color: white; text-decoration: none;">{{performer.name}}</a>
                        </span>
                    </span>
                </div>

                <div class="meta-item" *ngIf="recordGroups.length">
                    <span class="meta-label">Группы: </span>
                    <span class="meta-value">
                        <span *ngFor="let group of recordGroups" class="badge bg-primary me-1">
                            <a href="/group/{{ group.id }}"
                                style="color: white; text-decoration: none;">{{group.name}}</a>
                        </span>
                    </span>
                </div>
            </div>
        </div>

        <!-- Правая колонка - информация и трек-лист -->
        <div class="col-lg-8">
            <div class="custom-card p-4 mb-4">
                <div class="d-flex justify-content-between mb-3">
                    <h1>{{recordName}}</h1>
                    <button class="btn" (click)="addToUserCollection(recordId)">Добавить в коллекцию</button>
                </div>
                <!-- Трек-лист -->
                <div class="tracklist card shadow-sm">
                    <div class="card-header bg-dark text-white">
                        <h5 class="mb-0">Трек-лист</h5>
                    </div>
                    <div class="card-body p-0">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item d-flex justify-content-between align-items-center"
                                *ngFor="let track of recordTracks; let i = index">
                                <div class="track-info">
                                    <span class="track-number">{{i + 1}}. </span>
                                    <span class="track-name">{{track.name}}</span>
                                </div>
                                <button class="btn btn-sm btn-primary" (click)="playTrack(track.id)">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="20" fill="currentColor"
                                        class="bi bi-play-fill">
                                        <path
                                            d="m11.596 8.697-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393" />
                                    </svg>
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="!record" class="container py-5 text-center">
    <div class="spinner-border text-primary" role="status">
        Загрузка...
    </div>
</div>