<div class="container py-5 record-page" *ngIf="personalRecord && record">

    <div class="row g-4">
        <!-- Левая колонка - обложка и метаданные -->
        <div class="col-lg-4">
            <!-- Карусель обложек -->
            <div class="custom-card p-0">
                <div class="carousel-inner">
                    <div class="carousel-inner">
                        <div class="carousel-item" *ngFor="let cover of recordCovers; let i = index"
                            [class.active]="i === activeCoverIndex">
                            <img [src]="cover.picture" class="d-block w-100" alt="обложка">
                        </div>
                    </div>
                    <button class="carousel-control-prev" (click)="prevCover()">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" (click)="nextCover()">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>


            <!-- Информация о пластинке -->
            <div class="custom-card mt-4 p-3">
                <h4 class="mb-3">Информация</h4>

                <div class="meta-item">
                    <span class="meta-label">Год: </span>
                    <span class="meta-value">{{recordYear}}</span>
                </div>

                <div class="meta-item" *ngIf="recordPublisher">
                    <span class="meta-label">Лейбл: </span>
                    <span class="meta-value">{{recordPublisher}}</span>
                </div>

                <div class="meta-item" *ngIf="recordBarcode">
                    <span class="meta-label">Штрихкод: </span>
                    <span class="meta-value">{{recordBarcode}}</span>
                </div>

                <div class="meta-item" *ngIf="recordPerformer != undefined">
                    <span class="meta-label">Исполнитель: </span>
                    <span class="meta-value">
                        <span class="badge bg-secondary me-1">
                            <a href="/performer/{{ recordPerformer.id }}"
                                style="color: white; text-decoration: none;">{{recordPerformer.name}}</a>
                        </span>
                    </span>
                </div>

                <div class="meta-item" *ngIf="recordGroup != undefined">
                    <span class="meta-label">Группа: </span>
                    <span class="meta-value">
                        <span class="badge bg-primary me-1">
                            <a href="/group/{{ recordGroup.id }}"
                                style="color: white; text-decoration: none;">{{recordGroup.name}}</a>
                        </span>
                    </span>
                </div>
            </div>
        </div>

        <!-- Правая колонка - информация и трек-лист -->
        <div class="col-lg-8">
            <div class="custom-card p-4 mb-4">
                <h1 class="mb-2">{{recordName}}</h1>
                <button class="btn" (click)="deleteFromUserCollection(personalRecordId)">Удалить из коллекции</button>
            </div>

            <!-- Информация для редактирования -->
            <div class="custom-card p-4 mb-4">
                <form [formGroup]="form">
                    <div class="record-subtitle text-muted d-flex align-items-center mb-3">
                        <span class="meta-label">Состояние:</span>
                        <select class="form-select" formControlName="condition">
                            <option value="BAD">BAD</option>
                            <option value="GOOD">GOOD</option>
                            <option value="NEW">NEW</option>
                        </select>
                    </div>
                    <div class="record-subtitle text-muted d-flex align-items-start mb-3">
                        <span class="meta-label">Комментарий:</span>
                        <textarea class="form-control" type="text" formControlName="commentBody"
                            placeholder="Комментарий"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary" (click)="onSubmit()">Сохранить</button>
                </form>
            </div>

            <div class="custom-card p-4 mb-4">
                <!-- Трек-лист -->
                <div class="tracklist card shadow-sm">
                    <div class="card-header bg-dark text-white">
                        <h5 class="mb-0">Трек-лист</h5>
                    </div>
                    <div class="card-body p-0">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item d-flex justify-content-between align-items-center"
                                *ngFor="let track of recordTracks; let i = index">
                                <div class="track-info">
                                    <span class="track-number">{{i + 1}}. </span>
                                    <span class="track-name">{{track.name}}</span>
                                </div>
                                <button class="btn btn-sm btn-primary" (click)="playTrack(track.id)">
                                    @if (currentTrackId === track.id && isPlaying) {
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="20" fill="currentColor"
                                        class="bi bi-pause-fill">
                                        <path
                                            d="M5.5 3.5A1.5 1.5 0 0 1 7 5v10a1.5 1.5 0 0 1-3 0V5a1.5 1.5 0 0 1 1.5-1.5zm5 0A1.5 1.5 0 0 1 12 5v10a1.5 1.5 0 0 1-3 0V5a1.5 1.5 0 0 1 1.5-1.5z" />
                                    </svg>
                                    } @else {
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="20" fill="currentColor"
                                        class="bi bi-play-fill">
                                        <path
                                            d="m11.596 8.697-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393" />
                                    </svg>
                                    }
                                </button>

                                @if (currentTrackId === track.id) {
                                <div class="progress mt-2" style="height: 5px;">
                                    <div class="progress-bar" role="progressbar"
                                        [style.width]="(currentTime / duration * 100) + '%'"
                                        [attr.aria-valuenow]="currentTime" aria-valuemin="0"
                                        [attr.aria-valuemax]="duration">
                                    </div>
                                </div>
                                <small class="text-muted d-block ms-1">
                                    {{ formatTime(currentTime) }} / {{ formatTime(duration) }}
                                </small>
                                }
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="!personalRecord && !record" class="container py-5 text-center">
    <div class="spinner-border" role="status" style="color: orange;"></div>
</div>