<div class="container d-flex justify-content-center">
    <div class="row">
        <div class="hero col-12 mt-5">
            <h1>Приветствую тебя снова, любитель винила</h1>
            <h3>Войдите в аккаунт</h3>
        </div>
    </div>
</div>


<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4">
            <form [formGroup]="loginForm">
                <div class="mb-3">
                    <label class="form-label">Логин</label>
                    <input type="text" formControlName="login" class="form-control" />
                    <div class="alert alert-danger my-2"
                        *ngIf="loginForm.controls['login'].invalid && loginForm.controls['login'].touched">
                        Введите логин, это обязательно.
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label">Пароль</label>
                    <input type="password" formControlName="password" class="form-control" />
                    <div class="alert alert-danger my-2"
                        *ngIf="loginForm.controls['password'].invalid && loginForm.controls['password'].touched">
                        Введите пароль, это обязательно.<br>
                    </div>
                </div>

                <button type="button" (click)="login()" class="mb-4 btn btn-custom btn-block w-100">Войти</button>

                <div class="row mb-4 d-flex justify-content-center">
                    <div *ngIf="isError" class="alert alert-danger mb-2">
                        Неверное имя пользователя или пароль
                    </div>
                    <div class="col-12 text-center">
                        <a [routerLink]="['/registration']">Ещё нет аккаунта?</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>