<div class="container d-flex justify-content-center">
    <div class="row">
        <div class="hero col-12 mt-5">
            <h3>Change password</h3>
        </div>
    </div>
</div>

<div class="container d-flex justify-content-center">
    <form [formGroup]="changeForm" (ngSubmit)="changePassword()">

        <!-- Password input -->
        <div class="row mb-4 d-flex justify-content-center">
            <label class="form-label" for="formPassword">Password</label>
            <input type="password" id="formPassword" class="form-control mb-4" />
            <button type="button" class="col-6 mb-2 btn btn-custom btn-block">Submit</button>
        </div>

    </form>
</div>