<div class="container py-5 record-page" *ngIf="group">

    <div class="row g-4">
        <!-- Левая колонка - фото -->
        <div class="col-lg-4">
            <!-- Картинка -->
            <div class="custom-card p-0">
                <img [src]="imageUrl" class="d-block w-100" alt="картинка">
            </div>

            <!-- Информация о исполнителях-->
            <div *ngIf="performers.length" class="custom-card mt-4 p-3">
                <div class="meta-item mb-0">
                    <span class="meta-label">Исполнители: </span>
                    <span class="meta-value">
                        <span class="badge bg-primary me-1" *ngFor="let performer of performers">
                            <a href="/performer/{{ performer.id }}"
                                style="color: white; text-decoration: none;">{{performer.name}}</a>
                        </span>
                    </span>
                </div>
            </div>
        </div>

        <!-- Правая колонка - информация и пластинки -->
        <div class="col-lg-8">
            <div class="custom-card p-4 mb-4">
                <h1 class="mb-2">{{groupName}}</h1>

                <!-- Пластинки -->
                <h3 class="mb-3" style="color: orange;">Пластинки группы</h3>
                <div class="row ms-1 g-4">
                    <div class="custom-card col-lg-2 col-md-4 col-sm-6 me-4" *ngFor="let record of groupRecords">
                        <a href="/record/{{ record.id }}" class="card-href">
                            <img src={{record.coverUrl}} alt="Обложка" class="cover">
                            <div class="card-title">{{record.title}}</div>
                            <div class="card-year">{{record.year}}</div>
                            <span class="card-genre">{{record.genre}}</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="!group" class="container py-5 text-center">
    <div class="spinner-border" role="status" style="color: orange;"></div>
</div>