<div class="container py-5">
    <div class="row">
        <div class="col-lg-6">
            <h2 class="mb-3">Исполнители</h2>
            <div class="row ms-1 g-4">
                <div class="custom-card col-lg-3 col-md-4 col-sm-6 me-4" *ngFor="let performer of performers">
                    <div class="ratio ratio-1x1"><img src={{performer.image}} alt="Изображение"
                            class="img-fluid object-fit-cover"></div>
                    <div class="card-title">{{performer.name}}</div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <h2 class="mb-3">Группы</h2>
            <div class="row ms-1 g-4">
                <div class="custom-card col-lg-3 col-md-4 col-sm-6 me-4 " *ngFor="let group of groups">
                    <div class="ratio ratio-1x1"><img src={{group.image}} alt="Изображение"
                            class="img-fluid object-fit-cover"></div>
                    <div class="card-title">{{group.name}}</div>
                </div>
            </div>
        </div>
    </div>
</div>